-- MySQL dump 10.13  Distrib 8.0.34, for Win64 (x86_64)
--
-- Host: localhost    Database: metro1
-- ------------------------------------------------------
-- Server version	8.0.34

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `has_and_part_of`
--

DROP TABLE IF EXISTS `has_and_part_of`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `has_and_part_of` (
  `Station_ID` varchar(255) NOT NULL,
  `Line_ID` varchar(255) NOT NULL,
  PRIMARY KEY (`Station_ID`,`Line_ID`),
  KEY `Line_ID` (`Line_ID`),
  CONSTRAINT `has_and_part_of_ibfk_1` FOREIGN KEY (`Station_ID`) REFERENCES `station` (`Station_ID`),
  CONSTRAINT `has_and_part_of_ibfk_2` FOREIGN KEY (`Line_ID`) REFERENCES `line` (`Line_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `has_and_part_of`
--

LOCK TABLES `has_and_part_of` WRITE;
/*!40000 ALTER TABLE `has_and_part_of` DISABLE KEYS */;
/*!40000 ALTER TABLE `has_and_part_of` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `line`
--

DROP TABLE IF EXISTS `line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `line` (
  `Line_ID` varchar(255) NOT NULL,
  `Line_Colour` varchar(255) NOT NULL,
  `Number_of_Stations` int NOT NULL,
  `Total_Distance` decimal(10,2) NOT NULL,
  `Riders_Yesterday` int NOT NULL,
  `Start_Station` varchar(255) NOT NULL,
  `End_Station` varchar(255) NOT NULL,
  PRIMARY KEY (`Line_ID`),
  KEY `line_ibfk_1` (`Start_Station`),
  KEY `line_ibfk_2` (`End_Station`),
  KEY `idx_line_colour` (`Line_Colour`),
  KEY `idx_line_id` (`Line_ID`),
  CONSTRAINT `line_ibfk_1` FOREIGN KEY (`Start_Station`) REFERENCES `station` (`Station_ID`),
  CONSTRAINT `line_ibfk_2` FOREIGN KEY (`End_Station`) REFERENCES `station` (`Station_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `line`
--

LOCK TABLES `line` WRITE;
/*!40000 ALTER TABLE `line` DISABLE KEYS */;
INSERT INTO `line` VALUES ('BML1','PURPLE',37,43.45,0,'Challaghatta','Whitefield (Kadugodi)'),('BML2','GREEN',29,30.30,0,'Nagasandra┬á','Silk Institute');
/*!40000 ALTER TABLE `line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking`
--

DROP TABLE IF EXISTS `parking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parking` (
  `Parking_ID` varchar(255) NOT NULL,
  `Fee` int NOT NULL,
  `TimeStamp` timestamp NOT NULL,
  `Status` int NOT NULL,
  `QR_Code` blob NOT NULL,
  `Station_ID` varchar(255) NOT NULL,
  `User_ID` varchar(255) NOT NULL,
  `Vehicle_Number` varchar(255) NOT NULL,
  PRIMARY KEY (`Parking_ID`),
  KEY `Station_ID` (`Station_ID`),
  KEY `User_ID` (`User_ID`),
  CONSTRAINT `parking_ibfk_1` FOREIGN KEY (`Station_ID`) REFERENCES `station` (`Station_ID`),
  CONSTRAINT `parking_ibfk_2` FOREIGN KEY (`User_ID`) REFERENCES `user` (`User_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking`
--

LOCK TABLES `parking` WRITE;
/*!40000 ALTER TABLE `parking` DISABLE KEYS */;
/*!40000 ALTER TABLE `parking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rider_card`
--

DROP TABLE IF EXISTS `rider_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rider_card` (
  `Card_ID` varchar(255) NOT NULL,
  `Card_Balance` int NOT NULL,
  `Last_Recharge_Amount` int NOT NULL,
  `Last_Recharge_Time` timestamp NOT NULL,
  `Total_Savings` int NOT NULL,
  `Number_of_Trips` int NOT NULL,
  `User_ID` varchar(255) NOT NULL,
  PRIMARY KEY (`Card_ID`),
  KEY `User_ID` (`User_ID`),
  CONSTRAINT `rider_card_ibfk_2` FOREIGN KEY (`User_ID`) REFERENCES `user` (`User_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rider_card`
--

LOCK TABLES `rider_card` WRITE;
/*!40000 ALTER TABLE `rider_card` DISABLE KEYS */;
INSERT INTO `rider_card` VALUES ('5fd69ef2-b4f3-44d7-b393-1cef6cf725a2',62,100,'2023-11-10 07:53:58',4,2,'admin'),('6e39a86a-d9b5-4291-8c2d-a6293b21452a',0,0,'2023-11-09 07:16:08',0,0,'user1'),('e34e7c0f-e8bb-43a3-8672-7c4b8892d8f2',22,90,'2023-11-12 12:42:51',4,2,'user3');
/*!40000 ALTER TABLE `rider_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `route`
--

DROP TABLE IF EXISTS `route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `route` (
  `START_STATION` varchar(255) NOT NULL,
  `END_STATION` varchar(255) NOT NULL,
  `PRICE` decimal(10,2) DEFAULT NULL,
  `DURATION` time DEFAULT NULL,
  PRIMARY KEY (`START_STATION`,`END_STATION`),
  KEY `END_STATION` (`END_STATION`),
  CONSTRAINT `route_ibfk_1` FOREIGN KEY (`START_STATION`) REFERENCES `station` (`Station_Name`),
  CONSTRAINT `route_ibfk_2` FOREIGN KEY (`END_STATION`) REFERENCES `station` (`Station_Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `route`
--

LOCK TABLES `route` WRITE;
/*!40000 ALTER TABLE `route` DISABLE KEYS */;
/*!40000 ALTER TABLE `route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule`
--

DROP TABLE IF EXISTS `schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule` (
  `START_STATION` varchar(255) NOT NULL,
  `END_STATION` varchar(255) NOT NULL,
  `TIME_OF_ARRIVAL` time NOT NULL,
  `PLATFORM_NUMBER` int NOT NULL,
  `LINE_COLOUR` varchar(255) DEFAULT NULL,
  `LINE_ID` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`PLATFORM_NUMBER`,`TIME_OF_ARRIVAL`,`START_STATION`,`END_STATION`),
  KEY `START_STATION` (`START_STATION`),
  KEY `END_STATION` (`END_STATION`),
  KEY `LINE_ID` (`LINE_ID`),
  KEY `LINE_COLOUR` (`LINE_COLOUR`),
  CONSTRAINT `schedule_ibfk_1` FOREIGN KEY (`START_STATION`) REFERENCES `station` (`Station_Name`),
  CONSTRAINT `schedule_ibfk_2` FOREIGN KEY (`END_STATION`) REFERENCES `station` (`Station_Name`),
  CONSTRAINT `schedule_ibfk_3` FOREIGN KEY (`LINE_ID`) REFERENCES `line` (`Line_ID`),
  CONSTRAINT `schedule_ibfk_4` FOREIGN KEY (`LINE_COLOUR`) REFERENCES `line` (`Line_Colour`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule`
--

LOCK TABLES `schedule` WRITE;
/*!40000 ALTER TABLE `schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `station`
--

DROP TABLE IF EXISTS `station`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `station` (
  `Station_ID` varchar(255) NOT NULL,
  `Station_Name` varchar(255) NOT NULL,
  `Start_Date` date NOT NULL,
  `Number_of_Platforms` int NOT NULL,
  `Visitors_Yesterday` int NOT NULL,
  PRIMARY KEY (`Station_ID`),
  KEY `station_name_index` (`Station_Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `station`
--

LOCK TABLES `station` WRITE;
/*!40000 ALTER TABLE `station` DISABLE KEYS */;
/*!40000 ALTER TABLE `station` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket`
--

DROP TABLE IF EXISTS `ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ticket` (
  `Ticket_ID` varchar(255) NOT NULL,
  `Ticket_Price` int NOT NULL,
  `Entry_Time` time DEFAULT NULL,
  `Exit_Time` time DEFAULT NULL,
  `Date_of_Purchase` datetime NOT NULL,
  `Start_Station` varchar(255) NOT NULL,
  `End_Station` varchar(255) NOT NULL,
  `Mode_of_Purchase` enum('money','card') NOT NULL,
  `QR_Code` blob,
  `card_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Ticket_ID`),
  KEY `Start_Station` (`Start_Station`),
  KEY `End_Station` (`End_Station`),
  KEY `fk_card_id` (`card_id`),
  CONSTRAINT `fk_card_id` FOREIGN KEY (`card_id`) REFERENCES `rider_card` (`Card_ID`),
  CONSTRAINT `ticket_ibfk_1` FOREIGN KEY (`Start_Station`) REFERENCES `station` (`Station_ID`),
  CONSTRAINT `ticket_ibfk_2` FOREIGN KEY (`End_Station`) REFERENCES `station` (`Station_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket`
--

LOCK TABLES `ticket` WRITE;
/*!40000 ALTER TABLE `ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `deduct_balance` BEFORE INSERT ON `ticket` FOR EACH ROW BEGIN
    IF NEW.Mode_of_Purchase = 'card' THEN
        
        UPDATE rider_card SET Card_Balance = Card_Balance - NEW.Ticket_Price WHERE Card_ID = NEW.card_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `UpdateRiderCard` AFTER INSERT ON `ticket` FOR EACH ROW BEGIN
  
  IF NEW.mode_of_purchase = 'card' THEN
    
    UPDATE rider_card
    SET number_of_trips = number_of_trips + 1,
        total_savings = total_savings + (NEW.ticket_price / 19)
    WHERE card_id = NEW.card_id;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `User_ID` varchar(255) NOT NULL,
  `User_Password` varchar(255) NOT NULL,
  `MOBILE_NUMBER` varchar(10) NOT NULL,
  `Card_ID` varchar(255) NOT NULL,
  `Parking_ID` varchar(255) NOT NULL,
  `IS_USER` int NOT NULL,
  PRIMARY KEY (`User_ID`),
  KEY `Card_ID` (`Card_ID`),
  KEY `Parking_ID` (`Parking_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('admin','admin','8867718551','5fd69ef2-b4f3-44d7-b393-1cef6cf725a2','-999999',0),('user1','user1','9066381740','6e39a86a-d9b5-4291-8c2d-a6293b21452a','-999999',1),('user3','user3','8867718551','e34e7c0f-e8bb-43a3-8672-7c4b8892d8f2','-999999',1);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-03-06 21:43:16
