<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/card.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="#">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <div>
                Card Number: xx
            </div>

            <div>
                Balance: xx
            </div>
            
            <div class="nested-details">
                <div>
                    Last Recharge
                </div>
                <div>
                    <div>
                        Date: xx
                    </div>
                    <div>
                        Amount: xx
                    </div>
                </div>
            </div>

            <div class="nested-details">
                <div>
                    Last Trip
                </div>
                <div>
                    <div>
                        Start: xx
                    </div>
                    <div>
                        End: xx
                    </div>
                </div>
            </div>

            <div>
                Total Savings: xx
            </div>

            <div>
                Number of Trips: xx
            </div>
        </div>
    </main>
</body>
</html>
