<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/entrance-scan.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="#">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <div>
                QR scan: camera here
                <div class="qr-code">
                    <img src="QR.svg"/>
                </div>
            </div>

            <div>
                <div>ID: </div>
                <input type="text">
            </div>
           
            <div class="nested-button">
                <button>Check In</button>
            </div>
        </div>
    </main>
</body>
</html>
