<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/home-user.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="/">Logout</a>
                <a href="/home_user">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="buttons-container">
            <div class="first-row">
                <a href="/card"><button>Card</button></a>
                <a href="/card_recharge"><button>Card Recharge</button></a>
                <a href="/parking"><button>Parking</button></a>
            </div>

            <div class="second-row">
                <a href="/line_info"><button>Line Info</button></a>
                <a href="/ticket_page"><button>Ticket</button></a>
                <a href="/schedule"><button>Schedule</button></a>
            </div>

            <div class="third-row">
                <div></div>
                <a href="/station_info"><button>Station Info</button></a>
                <a href="/show_routes"><button>Find Route</button></a>
                <div></div>
            </div>
        </div>
    </main>
</body>
</html> 
