<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/home-admin.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                {% if user.is_authenticated and user.is_staff %}
                <a href="/">Log Out</a>
                <a href="/home_admin">Home</a>
                {% else %}
                <a href="/">Home</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <div class="buttons-container">
            <div class="first-row">
                <a href="/ticket_counter"><button>Ticket</button></a>
                <a href="/day_details"><button>Day Details   </button></a>
            </div>

            <div class="second-row">
                <a href="/parking_add"><button>Parking Add</button></a>
                <a href="/parking_remove"><button>Parking Remove</button></a>
            </div>

            <div class="third-row">
                <div></div>
                <a href="/entrance_scan"><button>Check-In Scan</button></a>
                <a href="/exit_scan"><button>Check-Out Scan</button></a>
                <div></div>
            </div>
        </div>
    </main>
</body>
</html> 
