<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/parking.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="#">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <div class="nested-details">
                <div>
                    Parking ID: xx
                </div>
                <div>
                    Registration Number: xx
                </div>
            </div>

            <div>
                Timestamp: xx
            </div>

            <div>
                Fee: xx
            </div>

            <div class="qr-code">
                {% comment %} <img src="QR.svg"/> {% endcomment %}
                <img src="{% static 'styles/QR.svg' %}" alt="QR Code">
            </div>

            <div class="nested-details">
                <div>
                    Station: xx
                </div>
                <div>
                    Status: xx
                </div>
            </div>
        </div>
    </main>
</body>
</html>
