<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/parking-add.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                {% if user.is_authenticated and user.is_staff %}
                <a href="/home_admin">Home</a>
                {% else %}
                <a href="/">Home</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="nested-button">
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
