<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/route-show-details.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="/">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

            <div>
                <div>Number of Station: 7</div>
                <div>Time: 6 minutes</div>
                <div>Cost: 22</div>
            </div>

        </div>
    </main>
</body>
</html>
