<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/schedule.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="#">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <div>
                <div>Start Station: </div>
                <div>
                    <select name="from" id="from">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>

            <div>
                <div>End Station: </div>
                <div>
                    <select name="to" id="to">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
            </div>

            <div>
                <div>Time:</div>
                <div>
                    <input type="date">
                </div>

                <div>
                    <input type="time">
                </div>
            </div>
           
            <div class="nested-button">
                <button>Generate</button>
            </div>
        </div>
    </main>
</body>
</html>