<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/schedule-show.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="#">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>
            
            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 0</div>
            </div>

            <div>
                <div>Arrival: 12/10/23 at 12:00 PM</div>
                <div>Departure: 12/10/23 at 12:05 PM</div>
                <div>Platform: 99</div>
            </div>
        </div>
    </main>
</body>
</html>
