<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/station-info-details.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="#">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="details-container">
            <div>
                Station ID: xx
            </div>

            <div>
                Station Name: xx
            </div>

            <div>
                Number of platforms: xx
            </div>

            <div>
                Number of Visitors Yesterday: xx
            </div>

            <div>
                Start Date: xx
            </div>

            <div>
                Status: xx
            </div>

            <div>
                Line Name: xx
            </div>
        </div>
    </main>
</body>
</html>
