<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/station-info.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="/">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <form>
                <div>
                    <label for="stationID">Station: </label>
                    <select name="from" id="from">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <button type="submit">Show</button>
            </form>
        </div>
    </main>
</body>
</html>
