<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/ticket.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'styles/logo.jpeg' %}" alt="Metro Logo">
            </div>
            <div class="metro-name">
                Nammuru Metro
            </div>
            <div class="home-button">
                <a href="#">Home</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <form>
                <button type="submit">Buy Ticket</button>

                <button type="submit">Ticket History</button>
            </form>
        </div>
    </main>
</body>
</html>